# Define variables
varDomain = "globomantics"
varNodeName = "client"
varHostEntries = ""
varVMMemory = {{ client_vm_memory }}
varVMCPU = {{ client_vm_cpu }}

#Now pass hostfile content into /etc/hosts
$etchosts = <<SCRIPT
#!/bin/bash
cat > /etc/hosts <<EOF
127.0.0.1       localhost
#{varHostEntries}
EOF
SCRIPT

Vagrant.configure("2") do |config|
  config.hostmanager.enabled = true
  config.hostmanager.manage_host = true
  config.hostmanager.manage_guest = false
  config.hostmanager.ignore_private_ip = false
  config.hostmanager.include_offline = true
  config.vm.box = "ubuntu/xenial64"
  // config.vm.provision "shell", path: "provision/setup-consul.sh", privileged: false
  // config.vm.provision "shell", path: "provision/setup-ansible.sh", privileged: false
  // config.vm.provision "shell", path: "provision/setup-docker.sh", privileged: false
  // config.vm.provision "shell", path: "provision/setup-kubectl.sh", privileged: false
  // config.vm.provision "shell", path: "provision/setup-java.sh", privileged: false
  // config.vm.provision "shell", path: "provision/setup-elasticsearch.sh", privileged: false
  // config.vm.provision "shell", path: "provision/setup-kibana.sh", privileged: false

  ['{{ dc2 }}', '{{ dc1 }}'].each do |dc|

    ip_prefix = dc == '{{ dc2 }}' ? '{{ cidr }}.1' : '{{ cidr }}.'

    config.vm.define "#{dc}-client" do |client|
      client.vm.hostname = "#{dc}-#{varNodeName}.#{varDomain}"
      client.vm.network "private_network", ip: "#{ip_prefix}11"
      varHostEntries << "#{ip_prefix}11" "#{dc}-client.#{varDomain}" "#{dc}-#{varNodeName}\n"
      client.vm.provision :shell, :inline => $etchosts
      client.vm.provider :virtualbox do |v|
        v.name = "#{dc}-#{varNodeName}".to_s
        v.gui = false
        v.customize ["modifyvm", :id, "--memory", "#{varVMMemory}".to_s]
        v.customize ["modifyvm", :id, "--cpus", "#{varVMCPU}".to_s]
      end
    end
  end
end
