#!/bin/bash
JAVA_DIR=/usr/java/

if [ ! -d "$JAVA_DIR" ]; then
  sudo mkdir $JAVA_DIR
fi

cd $JAVA_DIR

sudo wget --no-check-certificate --no-cookies --header "Cookie:oraclelicense=accept-securebackup-cookie" http://download.oracle.com/otn-pub/java/jdk/8u171-b11/512cd62ec5174c3487ac17c61aaa89e8/jdk-8u171-linux-x64.tar.gz
sudo wget --no-check-certificate --no-cookies --header "Cookie:oraclelicense=accept-securebackup-cookie" http://download.oracle.com/otn-pub/java/jce/8/jce_policy-8.zip

sudo tar xzf jdk-8u171-linux-x64.tar.gz

sudo ln -s /usr/java/jdk1.8.0_171 /usr/java/default

sudo rm jdk-8u171-linux-x64.tar.gz

export JAVA_HOME=/usr/java/default
export PATH=$JAVA_HOME/bin:$PATH


sudo mv ./jce_policy-8.zip $JAVA_HOME/jre/lib/security/


cd $JAVA_HOME/jre/lib/security/


sudo unzip -o -j -q  /usr/java/default/jre/lib/security/jce_policy-8.zip -d /usr/java/default/jre/lib/security/

sudo update-alternatives --install /usr/bin/java java /usr/java/jdk1.8.0_171/bin/java 2
sudo update-alternatives --install /usr/bin/jar jar /usr/java/jdk1.8.0_171/bin/jar 2
sudo update-alternatives --install /usr/bin/javac javac /usr/java/jdk1.8.0_171/bin/javac 2
sudo update-alternatives --set jar /usr/java/jdk1.8.0_171/bin/jar
sudo update-alternatives --set javac /usr/java/jdk1.8.0_171/bin/javac
