# Define variables
varDomain = "globomantics"
varNodeName = "workernode"
varHostEntries = ""
varVMMemory = {{ worker_vm_memory }}
varVMCPU = {{ worker_vm_cpu }}

#Build content for /etc/hosts file
$etchosts = <<SCRIPT
#!/bin/bash
cat > /etc/hosts <<EOF
127.0.0.1       localhost
#{varHostEntries}
EOF
SCRIPT

Vagrant.configure("2") do |config|
  config.vm.box = "ubuntu/xenial64"

  ['{{ dc2 }}', '{{ dc1 }}'].each do |dc|

    ip_prefix = dc == '{{ dc2 }}' ? '{{ cidr }}.1' : '{{ cidr }}.'

    (1..{{ worker_vm_count }}).each do |i|
      config.vm.define "#{dc}-workernode#{i}" do |workernode|
        workernode.vm.hostname = "{{ owner }}-#{dc}-workernode#{i}"
        workernode.vm.network "private_network", ip: "#{ip_prefix}4#{i}"
        varHostEntries << "#{ip_prefix}4#{i}" "#{dc}-workernode#{i}.#{varDomain}" "#{dc}-workernode#{i}\n"
        workernode.vm.provision :shell, :inline => $etchosts
        workernode.vm.provider :virtualbox do |v|
          v.name = "{{ owner }}-#{dc}-#{varNodeName}#{i}".to_s
          v.gui = false
          v.customize ["modifyvm", :id, "--memory", "#{varVMMemory}".to_s]
          v.customize ["modifyvm", :id, "--cpus", "#{varVMCPU}".to_s]
         end
      end
    end
  end
end
